* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
  margin-left: 500px;
}

.display {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  padding-left: 25px;
  
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display input {
  border: 0px;

  height: 40px;
  width: 100%;
  outline: none;
  font-size: 20px;
}

.display i {
  font-size: 25px;
  padding-right: 11px;
  color: green;
}

.container #btn {
  border: 0;
  outline: 0;
  background-color: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}
